LOGIN=minabe
DOMAIN_NAME=${LOGIN}.42.fr

# MYSQL SETUP
DB_NAME=wordpress
DB_ROOT_PASSWORD=password
DB_USER=wordpress
DB_PASSWORD=password

# WORDPRESS SETUP
WP_ADMIN_USER=${LOGIN}
WP_ADMIN_PASSWORD=password
WP_ADMIN_EMAIL=${LOGIN}@gmail.com
WP_EDITOR_USER=editor
WP_EDITOR_PASSWORD=password
WP_EDITOR_EMAIL=editor@gmail.com
WP_URL=https://${DOMAIN_NAME}
WP_TITLE="${LOGIN}'s WordPress"

# Volume
VOLUME_PATH=/home/${LOGIN}/data
WP_VOLUME_PATH=${VOLUME_PATH}/wordpress
WP_LOGS_PATH=${VOLUME_PATH}/wordpress/logs
DB_VOLUME_PATH=${VOLUME_PATH}/mariadb
DB_LOGS_PATH=${VOLUME_PATH}/mariadb/logs
NGINX_VOLUME_PATH=${VOLUME_PATH}/nginx
NGINX_LOGS_PATH=${VOLUME_PATH}/nginx/logs
