version: '3.1'
services:
  nginx:
    build: ./requirements/nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - ./requirements/src:/var/www/html
      - ./logs/nginx:/var/log/nginx
    restart: always
    networks:
      - inception-net
  wordpress:
    build: ./requirements/wordpress
    ports:
      - "9000"
    depends_on:
      - mariadb
    volumes:
      - ./requirements/src:/var/www/html
      - ./logs/wordpress/php:/var/log/php
    restart: always
    networks:
      - inception-net
  mariadb:
    build: ./requirements/mariadb
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    volumes:
      - ./requirements/mariadb/data:/var/lib/mysql
      - ./logs/mariadb:/var/log/mysql
    networks:
      - inception-net

networks:
  inception-net:
